.col.textHead {
    color: rgb(0, 0, 0);
}

p {
}

#logoHead {
    width: 334px;
    height: 68px;
    margin-right: 0px;
    margin-left: 209px;
}

.container.header {
    margin-top: 30px;
}

thead {
}

.tableHead {
    height: 50%;
    width: auto;
}

.tableBody {
}

.h1, h1 {
}

.container {
}

.container.tableData {
}

.h6, h6 {
    width: 120px;
}

.col.headerTD {
    width: 100%;
    margin-bottom: 11px;
}

.table-responsive.table-bordered {
    margin-top: 142px;
}

tr {
}

tbody {
}

.row {
}

.list-group {
}

